*{
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.wrapper{
  width: 80%;
  margin: auto;
  height: 100vh;
  display: grid;
  /* grid-gap: 3em; */
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto repeat(3, 1fr) auto;
  grid-template-areas:
    "mh mh"
    "register ."
    "register login"
    "register ."
    ". ."
}

.main-header{
  grid-area: mh;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  background: #0288D1;
  color: #fff;
}

.signin-wrapper,
.login-wrapper,
.main-header{
  border: 1px solid #bdbdbd;
  border-radius: 0.4em;
  padding: 0.5em;
}

.signin-wrapper,
.login-wrapper{
  background: #fff;
  color: #212121;
}

.signin-wrapper{
  grid-area: register;

  display: grid;
  grid-gap: 0.3em;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "title title title title title"
    ". si-control-num si-name si-flastname ."
    ". si-slastname si-career si-semester ."
    ". si-email si-phone si-gender ."
    ". si-password si-tutor-name si-tutor-flastname ."
    ". si-tutor-slastname si-tutor-phone si-tutor-email ."
    ". si-submit si-submit si-submit ."
}

.signin-wrapper .title-box{
  grid-area: title;
  text-align: center;
  font-size: 30px;
}

.signin-wrapper .control-num-box{
  grid-area: si-control-num;
}

.signin-wrapper .name-box{
  grid-area: si-name;
}

.signin-wrapper .flastname-box{
  grid-area: si-flastname;
}

.signin-wrapper .slastname-box{
  grid-area: si-slastname;
}

.signin-wrapper .career-box{
  grid-area: si-career;
}

.signin-wrapper .semester-box{
  grid-area: si-semester;
}

.signin-wrapper .email-box{
  grid-area: si-email;
}

.signin-wrapper .phone-box{
  grid-area: si-phone;
}

.signin-wrapper .gender-box{
  grid-area: si-gender;
}

.signin-wrapper .password-box{
  grid-area: si-password;
}

.signin-wrapper .tutor-name-box{
  grid-area: si-tutor-name;
}

.signin-wrapper .tutor-flastname-box{
  grid-area: si-tutor-flastname;
}

.signin-wrapper .tutor-slastname-box{
  grid-area: si-tutor-slastname;
}

.signin-wrapper .tutor-phone-box{
  grid-area: si-tutor-phone;
}

.signin-wrapper .tutor-email-box{
  grid-area: si-tutor-email;
}

.signin-wrapper .submit-box{
  grid-area: si-submit;
}

.login-wrapper{
  grid-area: login;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "li-title li-title li-title"
    ". li-username ."
    ". li-password ."
    ". li-submit ."
}

.login-grid-item,
.signin-grid-item{
  padding: 1em;
}

.login-wrapper .title-box{
  grid-area: li-title;
  text-align: center;
  font-size: 30px;
}

.login-wrapper .username-box{
  grid-area: li-username;
}

.login-wrapper .password-box{
  grid-area: li-password;
}

.login-wrapper .submit-box{
  grid-area: li-submit;
}

button{
  display: block;
  width: 100%;
  height: 2em;
}
